<h1><%="Your favorite bird is a #{@bird1}, and your second favorite is a #{@bird2}" %></h1>
<h2>Mine is the dutch blue peach-faced lovebird! They look kinda like this except blue!</h2>
<img src= "https://media.giphy.com/media/vDMLHYadpxsOc/giphy.gif">