<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Birds</h1>
    <img src="https://media.giphy.com/media/l0IymPnEE9urO61yM/giphy.gif">

    <!-- Insert Your Form Below -->
    <form method="POST" action = "/birds">
      
      <p> Favorite Bird: <input type= "text"
        name= "bird1"></p>
      <p>Second Favorite Bird: <input type= "text"
        name = "bird2"></p>
      <input type="submit">
      
    </form>

  </body>
</html>
